// Define variables for your color scheme

// For example:
$light-salmon: #eddbd8;
$light-orange: #F4CDA6;
$dark-blue: #395579;
$light-blue:#AABAD9;
$black: #1a1a1a;
$white: #ffffff;
$grey: #F4F4F4;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F37142;
$green: #1EDD88;
