#consultation_title {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  margin: 0, 0, 8px;
  border: none;
  border-radius: 4px;
}

#consultation_title:focus {
  box-shadow: 1px 2px rgba(38, 83, 104, 0.7);
  border: 1px solid #265368;
  outline: none;
}

::placeholder {
  color: rgba(38, 83, 104, 0.8);
}

.date-motif {
  margin-bottom: 10px;
  margin-left: 0;
  background-color: white;
  border-radius: 4px;
}

#btn-motif {
  width: 100%;
  height: 40px;
  margin: 0, 0, 0, 0;
  border: rgba(255, 158, 64, 1);
  background-color: rgba(255, 158, 64, 1);
}

#btn-motif:hover {
  background-color: rgba(255, 158, 64, 0.5);
}

.form-group div {
  width: 100%;
}

#consultation_date_1i {
  margin: 0px !important;
}

#consultation_date_3i {
  margin: 0px !important;
}
