.card-product {
  overflow: hidden;
  height: 120px;
  background: $light-orange;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s !important;
}

.card-product:hover {
  background-color: rgba(170, 186, 217, 0.7);
  color: white;
  transition: 0.3s !important;
  transform:scale(1.05,1.05);
}

.card-product h4 {
  margin: 0;
  padding-left: 10px;
}

.card-product p {
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 2px;
  padding-left: 10px; 
}

.card-product .card-product-infos {
  padding: 16px;
}

.color-link {
  color: #11546A;
}

.color-link:hover {
  text-decoration: none;
  color: #11546A;
}