@mixin report-prescrition {
  width: 28vw;
  min-width: 350px;
  height: 100%;
  border-radius: 10px;

}
@mixin window-prescription {
  border-radius: 10px;
  background: white;
  padding: 2.5em;
  width: 28vw;
  min-width: 350px;
  height: 48%;
}

#tab-consutation-medication{
  height: 70vh;
  width: 90%;
  position: relative;

  #report-and-notes-tabs{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  }
  #prescription-tabs{
    @include report-prescrition;
    padding: 3em;
    background-color: #fff;
  }
  
}
.split-no-doctor{
  width: 28vw;
  min-width: 350px;
  height: 100%;
  border-radius: 10px;
  padding: 3em;
  background-color: #fff;
}

.testre{
  @include window-prescription();
  min-height: 29em;
  overflow-y: scroll;
}

.split-div-doctor{
  @include window-prescription();
  position: relative;
  
  .secret-report-img{
    width: 60px;
    position: absolute;
    left: -1em;
    bottom: -4.5em;
    z-index: 1000;
  }
}

#doctor-report,
#doctor-note,
#prescription-tabs{
  overflow: scroll;
  height: 100%;
  
  .title-report{
    width: fit-content;
  }
}
.modal-content{
  min-height: 40vh;
  border-radius: 10px;
  border: 5px solid $light-orange;
}

.btn-note-report{
  
  width: fit-content;
  transition: 0.3s;
  p{
    color: $dark-blue;
  }
  img{
    width: 25px;
    height: 25px;
  }

  &:hover{
    text-decoration: none !important;
    img{    
    width: 28px;
    height: 28px;
    transition: 0.3s;
    // -webkit-box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    // -moz-box-shadow:    2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    // box-shadow:         2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    }
    p{
      transform:scale(1.1,1.1);
      transition: 0.3s;
      font-weight: bold;
      text-decoration: none;

    }
  }
}


.test-drug{
  width: 100%;
  height: 30px;
}

.drug-quantity-img{
  background: url("https://res.cloudinary.com/kyulol/image/upload/v1598466311/pills-multiply_dipchu.png") top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 100%;
  position: relative;
  
  // -------badge-quantity-------
  span{
    background-color: white;
    line-height: 1.4;
    padding-left: 7px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: absolute;
    top: -7px;
    left: 20px;
    font-weight: bold;
    -webkit-box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
    -moz-box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
    box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
  }
}
.content-doctor-prescrition{
  line-height: 2;
  font-weight: bold;
}

#consultation_public_report,
#consultation_private_report,
#consultation_medication_description {
  width: 100%;
  height: 262px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #265368;
}

#consultation_public_report:focus,
#consultation_private_report:focus,
#consultation_medication_description:focus {
  border: 1px solid #265368;
  outline: none;
}

#consultation_medication_medication_id,
#consultation_medication_quantity {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  border-radius: 10px;
  margin-bottom: 6px;
  border: 1px solid #265368;
}

#consultation_medication_medication_id:focus,
#consultation_medication_quantity:focus {
  box-shadow: 1px 2px rgba(38, 83, 104, 0.7);
  border: 1px solid #265368;
  outline: none;
}
