@mixin report-prescrition {
  width: 40%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 3em;
  margin-left:auto ;
  margin-right:auto ;
}
#tab-consutation-medication{
  height: 80vh;
  width: 90%;

  #report-and-notes-tabs{
    @include report-prescrition;
    
  }
  #prescription-tabs{
    @include report-prescrition;
    
  }
}
.modal-content{
  min-height: 40vh;
  border-radius: 10px;
  border: 5px solid $light-orange;
}

.btn-note-report{
  padding: 3px 15px;
  width: fit-content;
  transition: 0.3s;
  p{
    color: $dark-blue;
  }
  img{
    width: 25px;
    height: 25px;
  }

  &:hover{
    text-decoration: none !important;
    img{
    border-radius: 50%;
    
    width: 28px;
    height: 28px;
    transition: 0.3s;
    -webkit-box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    }
    p{
      transform:scale(1.1,1.1);
      transition: 0.3s;
      font-weight: bold;
      text-decoration: none;

    }
  }
}
#doctor-report,
#doctor-note{
  height: 40%;
}

.test-drug{
  width: 100%;
  height: 30px;
}

.drug-quantity-img{
  background: url("https://res.cloudinary.com/kyulol/image/upload/v1598466311/pills-multiply_dipchu.png") top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 100%;
  position: relative;
  
  // -------badge-quantity-------
  span{
    background-color: white;
    line-height: 1.4;
    padding-left: 7px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: absolute;
    top: -7px;
    left: 20px;
    font-weight: bold;
    -webkit-box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
    -moz-box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
    box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
  }
}
.content-doctor-prescrition{
  line-height: 2;
  font-weight: bold;
}
