.field {
  margin-top: 15px;
}

.actions {
  margin-top: 15px;
}

.actions.color {
  color: black;
}

#link {
  margin-top: 15px;
}

#link a {
  color: #265368;
}

input {
  width: 350px;
}

input.form-control:focus {
  box-shadow: 1px 2px rgba(38, 83, 104, 0.7);
  border: 1px solid #265368;
}

.btn-sign-in {
  background-color: rgba(255, 158, 64, 1);
  border: none;
}

.btn-sign-in:hover {
  background-color: rgba(255, 158, 64, 0.5);
}

.form-control {
  background-image: linear-gradient(to right, rgba(255, 158, 64, 0), rgba(255, 158, 64, 0.9));
  border: none;
}

