.field {
  margin-top: 15px;
}

.actions {
  margin-top: 15px;
}

.actions.color {
  color: black;
}

#link {
  margin-top: 15px;
}

input {
  width: 350px;
}

.btn-sign-in {
  background-color: #B12906;
  border: none;
}

.btn-sign-in:hover {
  background-color: #ad4434;
}

.form-control {
  border: 1px solid #B12906;
}