<div class="col-12" style="background-color: #AABAD9;">
  <div class="row justify-content-center">
    <div class="card col-11 d-flex justify-content-center mt-3 mb-5 d-inline-block h-auto" style="height: 120px; background-color: white; border-radius: 8px; border: none;" >
      <div class=" row justify-content-center mt-3 align-items-center">
        <h2 class="col-10 card-text font-weight-bold text-center" style="color: #395579;">Doctor's report</h2>
        <div class="col-2"></div>
      </div>
      <div>
        <%= simple_form_for [ @consultation ] do |f| %>
          <%= f.input :public_report, as: :text, label: false %>
          <div class='d-flex justify-content-end'>
            <%= f.submit "Save", class: "btn btn-primary mt-2 mb-3" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>


  <br>
  <br>
  <br>

</div>
