
<div class="container-fluid d-flex align-items-center justify-content-center call-video-container">

  <iframe
    src="https://tokbox.com/embed/embed/ot-embed.js?embedId=53f3f16f-c35c-48fa-a92a-c9d105083ba7&room=DEFAULT_ROOM&iframe=true"
    width="1500px"
    height="640px"
    scrolling="auto"
    allow="microphone; camera"
  ></iframe>

</div>
