<footer class="pt-4 pb-2">
  <div class="d-flex justify-content-center">
    <%= image_tag "https://res.cloudinary.com/kyulol/image/upload/v1598877707/facebook_nf1scq.png", class:"footer-icon" %>
    <%= image_tag "https://res.cloudinary.com/kyulol/image/upload/v1598877702/twitter_jd9gu8.png", class:"footer-icon" %>
  </div>
  <p class="text-center pt-2">2020 © YouMind. All rights reserved.</p>
</footer>