<nav class="bg-white navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" id="navbar-test">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# ------------drop-down-flags------------ %>
<div class="dropright" id="flags">
  <a class="dropdown-toggle" href="#" role="button" id="dropDownFlag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="https://res.cloudinary.com/kyulol/image/upload/v1598281901/french-flag_dvs8vi.png" class="flag-icon" alt="french-flag">
  </a>

  <div class="dropdown-menu" aria-labelledby="dropDownFlag">
    <a class="dropdown-item" href="#"><img src="https://res.cloudinary.com/kyulol/image/upload/v1598281901/uk-flag_lztcpr.png" class="flag-icon" alt="uk-flag"></a>
  </div>
</div>

  
<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
  <div class="d-flex justify-content-center">
    <%# --------------1ere navbar-------------- %>
    <nav class="cl-effect-11 navbar-nav ml-auto d-flex align-items-center">
      <a href="#" data-hover="Home" class="nav-item mx-5">Home</a>
      <a href="#" data-hover="Dashboard" class="nav-item mx-5">Dashboard</a>
    </nav>


    <%# ----------------div logo---------------- %>
    <div class="mx-5">
      <img src="https://res.cloudinary.com/kyulol/image/upload/v1598280122/youmind-official_zrwmee.jpg" alt="Logo Youmind" id="logo-navbar">
    </div>

    <%# --------------2eme navbar-------------- %>
    <nav class="cl-effect-11 navbar-nav mr-auto d-flex align-items-center">
      <a href="#" data-hover="Calendrier" class="nav-item mx-5">Calendrier</a>
      <a href="#" data-hover="Notifications" class="nav-item mx-5">Notifications</a>
    </nav>
  </div>
</div>
  <a>
    <i class="fal fa-user-circle font-awsm-icons"></i>
  </a>
</nav>
