<h1 class="text-center">You-Mind</h1>
<h2 class="text-center">Garder le contact en tout temps et en toute simplicité !</h2>

<div class="container">
<h3>Pourquoi utiliser You-Mind ?</h3>
<div class="row justify-content-between p-5">
  <div class="card-home  d-flex flex-column justify-content-center align-items-center col-3 m-2 p-4">
    <div class="bg-white img-1 card-home-img shadow-sm m-0 p-0">
    </div>
    <div class="card-home-content py-4">
    <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, iure!</p>
    </div>
  </div>

  <div class="card-home d-flex flex-column justify-content-center align-items-center col-3 m-2 p-4">
    <div class="bg-white img-2 card-home-img shadow-sm m-0 p-0">
    </div>
    <div class="card-home-content py-4">
    <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, iure!</p>
    </div>
  </div>

  <div class="card-home d-flex flex-column justify-content-center align-items-center col-3 m-2 p-4" id="test-card">
    <div class="bg-white img-3 card-home-img shadow-sm m-0 p-0">
    </div>
    <div class="card-home-content py-4">
    <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, iure!</p>
    </div>
  </div>
</div>
  

  

</div>