  <div class="test-bg d-flex justify-content-begin align-items-center">
    <div class="col-6 d-flex justify-content-center">
      <div class="col-8 blur p-5 d-flex justify-content-around align-items-center flex-column">
        <div>
          <h1 class="text-center font-weight-bold text-white title-box-home">YouMind, toujours accompagné</h1>
        </div>
        <div>
          <h5 class="text-white content-box-home font-weight-bold" style="text-align: justify;"><em>"Maintenir une relation de confiance, même à distance."</em> <strong>Youmind</strong> vous propose de garder contact en tout temps avec votre thérapeute. Il ne sera plus jamais question de manquer une consultation. Depuis chez vous, avec votre médecin.</h5>
        </div>
        <%= link_to "#right-card-home", class:"anchor-link" do %>
          <div href="#right-card-home" class="down-arrow-anker" id="arrow-anker">
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-fluid container-fluid-cards p-0">
    <div class="container container-cards">
      <h3 class="text-center font-weight-bold text-white">Pourquoi utiliser YouMind ?</h3>
      <div class="row justify-content-between align-items-center p-5" >
        <div id="left-card-home" class="card-home  d-flex flex-column align-items-center col-3 m-2 p-4">
          <div class="bg-white img-1 card-home-img shadow-sm m-0 p-0">
          </div>
          <div class="card-home-content py-4">
          <p class="text-center">Gardez le contact avec votre médecin simplement et rapidement grace au Chat intégré !</p>
          </div>
        </div>

        <div class="card-home d-flex flex-column align-items-center col-3 m-2 p-4" >
          <div class="bg-white img-2 card-home-img shadow-sm m-0 p-0">
          </div>
          <div class="card-home-content py-4">
          <p class="text-center">Retrouvez votre historique de rendez-vous et vos documents médicaux.</p>
          </div>
        </div>

        <div id="right-card-home" class="card-home d-flex flex-column align-items-center col-3 m-2 p-4" id="test-card">
          <div class="bg-white img-3 card-home-img shadow-sm m-0 p-0">
          </div>
          <div class="card-home-content py-4">
          <p class="text-center">Prenez rendez vous en ligne, 24h/24 et 7j/7, pour une consultation vidéo.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
