  <div class="test-bg d-flex justify-content-begin align-items-center">
    <div class="col-6 d-flex justify-content-center">
      <div class="col-8 blur p-5 d-flex justify-content-around align-items-center flex-column">
        <div>
          <h1 class="text-center font-weight-bold text-white title-box-home">You-Mind, toujours accompagné</h1>
        </div>
        <div>
          <p class="text-white content-box-home">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium vel eum amet eos iste illum, omnis nihil a! Eveniet, suscipit quisquam error saepe quos repellat.</p>
        </div>
        <div class="down-arrow-anker">
        </div>
      </div>
    </div>
  </div>
<div class="container container-cards">
  <h3>Pourquoi utiliser You-Mind ?</h3>

  <div class="row justify-content-between align-items-center p-5" >
    <div id="left-card-home" class="card-home  d-flex flex-column align-items-center col-3 m-2 p-4">
      <div class="bg-white img-1 card-home-img shadow-sm m-0 p-0">
      </div>
      <div class="card-home-content py-4">
      <p class="text-center">Gardez le contact avec votre docteur simplement et rapidement grace au Chat intégré !</p>
      </div>
    </div>

    <div class="card-home d-flex flex-column align-items-center col-3 m-2 p-4">
      <div class="bg-white img-2 card-home-img shadow-sm m-0 p-0">
      </div>
      <div class="card-home-content py-4">
      <p class="text-center">Retrouvez votre historique de rendez-vous et vos documents médicaux.</p>
      </div>
    </div>

    <div id="right-card-home" class="card-home d-flex flex-column align-items-center col-3 m-2 p-4" id="test-card">
      <div class="bg-white img-3 card-home-img shadow-sm m-0 p-0">
      </div>
      <div class="card-home-content py-4">
      <p class="text-center">Prenez rendez vous en ligne, 24h/24 et 7j/7, pour une consultation vidéo.</p>
      </div>
    </div>

  </div>

</div>
