<div class="container-fluid page-500 d-flex justify-content-center align-items-center">
  <div class="error-div">
    <h2 class="text-center">500</h2>
    <p>Internal Servor Error, access problem !</p>
  </div>
</div>