<div class="container-fluid page-404 d-flex justify-content-center align-items-center">
  <div class="error-div">
    <h2 class="text-center">404</h2>
    <p>Page not found, access problem !</p>
  </div>
</div>