@import "config/colors";

@mixin border50 {
  border-radius:50%;
}

@mixin transition-transform {
  transition: 0.3s;
  &:hover{
    transform:scale(1.1,1.1);
    transition: 0.3s;
    -webkit-box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    2px 1px 5px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         2px 1px 5px 0px rgba(50, 50, 50, 0.58);
  }
}

#navbar-test{
  height: 90px;
}
#logo-navbar{
  width: 80px;
  height: 80px;
  overflow: hidden;
  &:hover{
    transform: rotate(360deg);
    transition: 2s;
    overflow: hidden;
  }
}
.flag-icon{
  width: 25px;
}
#flags{
  @include transition-transform();
  @include border50();
  
  a:hover{
    text-decoration: none;
    
  }
}

.dropright .dropdown-toggle::after{
  display: none;
}

.login-icon{
  width: 30px;
  height: 30px;
  background: url("https://res.cloudinary.com/kyulol/image/upload/v1598345514/profile_fsyw6v.png") center;
  background-size: contain;
  @include transition-transform;
  cursor: pointer;
  border-radius: 50%;
  position: relative;

    .bg-connected{
      background-color: green;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      position: absolute;
      top: -4px;
      left: 20px;
      font-weight: bold;
      -webkit-box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
      -moz-box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
      box-shadow: -1px 1px 12px 2px rgba(170,186,217,1);
    }

}


// --------link--------

.cl-effect-11 a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 0;
  color: $dark-blue;
  text-shadow: none;
  height: fit-content;
  
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
      color: transparent;
    }
    
    &::before{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    max-width: 0;
    border-bottom: 2px solid $light-orange;
    color: $light-orange;
    font-weight: bold;
    text-shadow: none;
    content: attr(data-hover);
    -webkit-transition: max-width 0.7s;
    -moz-transition: max-width 0.7s;
    transition: max-width 0.7s;
    letter-spacing: 1px;
    }
    &:hover::before,
    &:focus::before{
      max-width: 100%;
      
    }
}
