// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "components/card-home";
@import "components/dasboard-sidebar";
@import "pages/index";
@import "pages/last-consultation";


*{
  padding: 0;
  margin: 0;
}
body{
  color: $dark-blue;
  // background-color: $light-orange;
  min-height: calc(100vh - 80px);
  
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AABAD9; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #395579;
  cursor: pointer;
}

